.comment-items{
    display: flex;
    width: 100%;
    color: rgb(93, 93, 93);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    p{
        margin: 0;
    }

    .comment-item-left{
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    .comment-item-right{
        margin-left: 10px;
        width: 100%;

        .name-date{
            display: flex;
            font-size: 12px;

            .commenter-name{
                color: white;
                background-color: rgb(93, 93, 93);
                padding: 0 5px;
                border-radius: 10px;
            }

            p{
                margin-left: 5px;
            }
        }

        .comment-content{
            width: 100%;
            margin-top: 2px;

            p{
                width: 100%;
                color: black;
                font-size: 15px;
                word-wrap: break-word;
            }
        }

        .comment-fitur{
            margin: 10px 0;
            display: flex;
            align-items: center;
            width: 100%;
            font-size: 13px;

            i{
                padding: 5px;
                margin-right: 10px;
                cursor: pointer;
            }

            .reply-comment-button{
                background-color: inherit;
                padding: 5px 15px;
                cursor: pointer;

                &:active{
                    background-color: rgb(184, 184, 184);
                }
            }
        }

        .reply-comment-form{
            display: flex;
            width: 100%;
            
            .submit-reply-form{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 5px;
        
                div{
                    cursor: pointer;
                    font-size: 14px;
                    padding: 8px 15px;
        
                    &:active{
                        background-color: rgb(206, 206, 206);
                    }
                }
        
                .cancel-btn{
                    color: rgb(82, 82, 82);
                    font-weight: bold;
                }
        
                .save-btn{
                    color: white;
                    font-weight: bold;
                    margin-left: 5px;
                    border-radius: 5px;
                }
            }
        }

        .reply-form-left{
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }

        .reply-form-right{
            width: 100%;
            margin-left: 10px;

            input{
                background-color: inherit;
                border: none;
                outline: none;
                width: 100%;
                font-size: 14px;
                border-bottom: solid grey 2px;
                padding: 3px 0;

                &:focus{
                    border-bottom: solid black 2px;
                }
            }   
        }
    }

    .video-replies-container{
        width: 100%;
    }
}

#reply-dropdown{
    width: max-content;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;

    #view-reply-text{
        color: rgb(0, 87, 187);
    }

    #hide-reply-text{
        color: rgb(93, 93, 93);
    }
}