#channel-playlist-page{
    display: flex;
    width: 100%;
    padding: 1vh 0 0 0;

    p{
        margin: 0;
    }

    #channel-playlist-container{
        margin: 0 5%;
        width: 100%;
    }
}

.footer-scroll{
    height: 10px;
}