/* You can add global styles to this file, and also import other style files */
body{
    app-header{
        position: fixed;
        top: 0;
        width: 100%;
    }

    app-side-bar{
        position: fixed;
        top: 56px;
        bottom: 0;
    }

    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
}